body {

    background-color: #FDB9C8;


}

header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Bungee Shade', cursive;

}

img {
    height: 25rem;
    width: 25rem;
}

.breed {
    padding: 2rem;
}

.name, .countryOfOrigin, .fluffiness, .photo {
    font-family: 'Work Sans', sans-serif;
    padding: 0.5rem;
    font-size: 1.5rem;
}


